.admin-uploads-container {
  padding: 10px;

  .admin-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: var(--primary-very-low);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-low);
    border-radius: 8px;
    align-items: baseline;

    .control-unit {
      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: var(--primary-high);
      }

      .ac-user,
      .date-picker-input {
        width: 100%;
      }
    }
  }

  .uploads-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
  }

  .upload-card {
    cursor: pointer;
    width: 140px;
    text-align: center;
    background: var(--secondary);
    padding: 10px;
    border: 1px solid var(--primary-low);
    border-radius: 4px;
    transition:
      transform 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out;

    &:hover {
      transform: translateY(-2px);
      box-shadow: var(--shadow-dropdown);
      border-color: var(--tertiary);
    }

    .preview-link {
      display: block;
      height: 120px;
      width: 100%;
      background: var(--primary-very-low);
      border-radius: 2px;
      overflow: hidden;
      margin-bottom: 8px;

      .upload-thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .file-placeholder {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--primary-medium);

        .extension {
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }

    .file-name {
      font-size: var(--font-down-1);
      color: var(--primary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 4px;
    }
  }

  .no-results {
    padding: 60px;
    color: var(--primary-medium);
    text-align: center;
    width: 100%;
    font-style: italic;
    border: 1px dashed var(--primary-low);
  }
}

.upload-usage-modal {
  .upload-usage-list {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;

      .d-icon-envelope {
        color: var(--tertiary);
      }

      .d-icon-comment {
        color: var(--tertiary);
      }
    }
  }
}
